@import '../../../scss/colors';

$info-number-font-size: 20px;
$info-number-shield-font-size: 26px;

.container {
  height: 130px;
}

.entity-image {
  width: 80px;
}

.entity-image-container {
  background-color: $emperor;
  border-radius: 5% 0 0 5%;
  padding: 0 15px;
}

.info {
  color: $white;
  font-family: Texta-Medium;
  font-size: 24px;
  font-weight: 600;

  &.number {
    font-size: $info-number-font-size;
  }

  &.number-shield {
    font-size: $info-number-shield-font-size;
  }
}

.name-hp-container {
  background-color: $black;
  border-radius: 0 5% 5% 0;
  padding-left: 30px;
  width: 160px;
}

.shield-container {
  background-color: $emperor;
  border-radius: 5%;
  width: 175px;
}

.subtitle {
  color: $very-light-grey;
  font-family: Texta-Medium;
  font-size: $info-number-font-size;

  &.shield {
    font-size: $info-number-shield-font-size;
  }
}
