@import '../../../scss/colors';

.container {
  padding-top: 50px;
}

.cards {
  flex-wrap: wrap;
  max-width: 500px;
  width: 100%;
}

.monster-uses {
  color: $black;
  font-family: Texta-Medium;
  font-size: 20px;
  font-weight: 600;
}
