@import '../../../scss/colors';

.bordered {
  border: 1px solid $emperor;
  padding: 45px 0;
}

.container {
  width: 170px;
}

.end-turn-button {
  background-color: $eastern-blue;
  border-radius: 5%;
  color: $white;
  font-family: Texta-Medium;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px;
}

.end-turn-container {
  background-color: $black;
  border-radius: 0 0 5% 5%;
  padding-bottom: 20px;
}

.info {
  color: $white;
  font-family: Texta-Medium;
  font-size: 18px;
  font-weight: 600;

  &.number {
    font-size: 40px;
  }
}

.turns {
  color: $white;
  font-family: Texta-Medium;
  font-size: 20px;
  font-weight: 600;
}

.turns-container {
  background-color: $emperor;
  border-radius: 5% 5% 0 0;
  padding: 15px 0;
}

.turns-info-container {
  background-color: $black;
  padding: 30px 20px;
}
