/* stylelint-disable plugin/stylelint-no-indistinguishable-colors */
$black: #000;
$eastern-blue: #25A8BB;
$emperor: #515151;
$gray: #808080;
$very-light-grey: #CCC;
$wild-sand: #F4F4F4;
$white: #FFF;

.background-black {
  background-color: $black;
}

.background-wild-sand {
  background-color: $wild-sand;
}
